# Supabase Configuration
SUPABASE_URL=https://your-project-ref.supabase.co
SUPABASE_KEY=your-supabase-key
DATABASE_URL=postgresql://postgres.<project-ref>:<password>@<pooler-host>:5432/postgres

# Pinecone Vector Database Configuration
PINECONE_API_KEY=your-pinecone-api-key
PINECONE_INDEX_NAME=finexplain


# Groq API Configuration
GROQ_API_KEY=your-groq-api-key

# Redis Configuration (Optional)
REDIS_URL=redis://localhost:6379/0

# Hugging Face Configuration (for Embedding API)
HUGGINGFACE_API_KEY=your-huggingface-api-key
HF_EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2

# Storage Bucket
STORAGE_BUCKET=loan_docs
